# JMJRST
options.properties

# SVN
.svn
repo/

# VIM locks
*.swp

# LibreOffice locks
.~lock.*#

*.tmp

# Word temporary
~$*.doc*
#
# # Excel temporary
~$*.xls*
#
# # Excel Backup File
*.xlk

# Eclipse
.metadata/
.recommenders/
.checkstyle
.classpath
.project
.settings
.checkstyle
bin/
target/

# Mac
.DS_Store

# Windows
Thumbs.db
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
